<app-header></app-header>
<div class="container center">
    <strong><label>ÁREA DEL EDITOR</label></strong>
    <br>
    <br>
    <form [formGroup]="formEditor">
        <div class="mb-3">
            <label for="userEditor">Usuario:</label>
            <input id="userEditor" [ngClass]="{'border border-danger': formEditor.controls.userEditor.invalid && !formEditor.controls.userEditor.pristine,
            'form-control': true}" class="form-control" required placeholder="User name" formControlName="userEditor">
        </div>
        <div [hidden]="formEditor.controls.userEditor.valid || formEditor.controls.userEditor.pristine"
            class="alert alert-danger">
            Usuario requerido
        </div>
        <div class="mb-3">
            <label for="passwordEditor">Contraseña:</label>
            <input id="passwordEditor" [ngClass]="{'border border-danger': formEditor.controls.passwordEditor.invalid && !formEditor.controls.passwordEditor.pristine,
            'form-control': true}" required type="password" class="form-control" placeholder="Password"
                formControlName="passwordEditor">
        </div>
        <div [hidden]="formEditor.controls.passwordEditor.valid || formEditor.controls.passwordEditor.pristine"
            class="alert alert-danger">
            Contraseña requerida
        </div>
        <hr class="mb-4">
        <div class="d-grid gap-2">
            <button type="submit" [disabled]="formEditor.invalid" class="btn btn-outline-dark btn-lg">Ingresar</button>
        </div>
    </form>
</div>