<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="btn nav-link active" >TÚ PERFIL</a>
                </li>
                <li class="nav-item">
                    <a class="btn nav-link active" >BUSCAR REVISTA</a>
                </li>
                <li class="nav-item">
                    <a class="btn nav-link active" >MIS REVISTAS</a>
                </li>
                <li class="nav-item">
                    <a class="btn nav-link active">REPORTES</a>
                </li>
                <li class="nav-item">
                    <a class="btn nav-link active" href="/">SALIR</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

