<strong><label>INICIO DE SESIÓN</label></strong>
<br>
<br>
<form [formGroup]="formSign" (submit)="getUser()">
    <div class="mb-3">
        <label for="userName">INGRESE SU USUARIO:</label>
        <input id="userName" [ngClass]="{'border border-danger': formSign.controls.userName.invalid && !formSign.controls.userName.pristine,
            'form-control': true}" class="form-control" required placeholder="User name" formControlName="userName">
    </div>
    <div class="mb-3">
        <label for="passUser">INGRESE SU CONTRASEÑA:</label>
        <input id="passUser" [ngClass]="{'border border-danger': formSign.controls.passUser.invalid && !formSign.controls.passUser.pristine,
            'form-control': true}" required type="password" class="form-control" placeholder="Password"
            formControlName="passUser">
    </div>
    <hr class="mb-4">
    <div class="d-grid gap-2">
        <button type="submit" [disabled]="formSign.invalid" class="btn btn-outline-dark btn-lg">Ingresar</button>
    </div>
</form>
