<div class="container">
  <nav class="navbar-center navbar-expand-md navbar-light bg-light" role="navigation" >
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="btn nav-link active" (click)="setOption(1)">AGREGAR ADMINISTRADOR</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<hr class="mb-4">
<div *ngIf="optionAdmin == 1">
  <h2>AGREGAR USUARIO</h2>
  <br>
  <form [formGroup]="addManagerForm" (ngSubmit)="addManager()">
    <div>
      <div>
        <label for="newAdminName">NOMBRE DE USUARIO:</label>
        <input type="text" id="newAdminName" class="form-control" placeholder="Introduzca el nombre." formControlName="managerName">
      </div>
      <div>
        <label for="newAdminPass">CONTRASEÑA DE USUARIO:</label>
        <input type="password" id="newAdminPass" class="form-control" formControlName="managerPassword" placeholder="Introduzca la contraseña.">
      </div>
      <div>
        <label for="verificationPass">VERIFICACIÓN DE LA CONTRASEÑA:</label>
        <input type="password" id="verificationPass" class="form-control" formControlName="verificationPass" placeholder="Introduzca nuevamente la contraseña.">
      </div>
      <hr class="mb-4">

      <div class="d-grid gap-2">
        <button type="submit" [disabled]="addManagerForm.invalid" class="btn btn-outline-dark btn-lg">AGREGAR ADMINISTRADOR</button>
      </div>
    </div>
  </form>
</div>
<div *ngIf="optionAdmin == 2">
  <h2>MODIFICAR USUARIO</h2>
  <br>
  <form (submit)="updateManager()">
    <div>
      <div>
        <label for="AdminName">NOMBRE DE USUARIO:</label>
        <input type="text" id="AdminName" readonly class="form-control" placeholder="Introduzca el nombre." [value]="managerName">
      </div>
      <hr class="mb-4">
      <div>
        <select class="form-control">
          <option (click)="changeOption(1)">MODIFICAR CONTRASEÑA</option>
          <option (click)="changeOption(2)">MODIFICAR USUARIO</option>
        </select>
      </div>
      <hr class="mb-4">
      <div *ngIf="optionUpdate==1">
        <form [formGroup]="updatePasswordForm">
          <div>
            <label for="oldAdminPass">CONTRASEÑA ANTIGÜA:</label>
            <input type="password" id="oldAdminPass" class="form-control" placeholder="Introduzca la contraseña." formControlName="oldPassword">
          </div>
          <div>
            <label for="updateAdminPass">CONTRASEÑA NUEVA:</label>
            <input type="password" id="updateAdminPass" class="form-control" placeholder="Introduzca la contraseña." formControlName="newPassword">
          </div>
          <div>
            <label for="updateVerificationPass">VERIFICACIÓN DE LA CONTRASEÑA:</label>
            <input type="password" id="updateVerificationPass" class="form-control" placeholder="Introduzca nuevamente la contraseña." formControlName="verificationNew">
          </div>
        </form>
      </div>
      <div *ngIf="optionUpdate == 2">
        <form [formGroup]="updateNameForm">
          <div>
            <label for="verificationOldPassword">INGRESE SU CONTRASEÑA:</label>
            <input type="password" id="verificationOldPassword" class="form-control" placeholder="Introduzca la contraseña." formControlName="oldPassword">
          </div>
          <div>
            <label for="updateAdminName">INGRESE SU NUEVO NOMBRE:</label>
            <input type="text" class="form-control" id="updateAdminName" placeholder="ingrese su nuevo nombre" formControlName="updateName">
          </div>
        </form>
      </div>
      <hr class="mb-4">
      <div class="d-grid gap-2">
        <button type="submit" [disabled]="updateNameForm.invalid && updatePasswordForm.invalid" class="btn btn-outline-dark btn-lg">MODIFICAR ADMINISTRADOR</button>
      </div>
    </div>
  </form>
</div>
<div *ngIf="optionAdmin == 3">
  <h2>ELIMINAR USUARIO</h2>
  <br>
  <div>
    <label for="deleteAdminName">NOMBRE DE USUARIO:</label>
    <input type="text" id="deleteAdminName" readonly class="form-control" [value]="managerName">
  </div>
  <form [formGroup]="deleteManagerForm" (submit)="deleteManager()">
    <div class="form-group">
      <div>
        <label for="deletePassword">INGRESE SU CONTRASEÑA:</label>
        <input type="password" id="deletePassword" class="form-control" placeholder="Introduzca la contraseña." formControlName="managerPassword">
      </div>
      <hr class="mb-4">
      <div class="d-grid gap-2">
        <button type="submit" [disabled]="deleteManagerForm.invalid" class="btn btn-outline-dark btn-lg">CANCELAR ADMINISTRADOR</button>
      </div>
    </div>
  </form>
</div>
<hr class="mb-4">
<div class="container col-lg-12">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">NOMBRE</th>
      <th scope="col">ESTADO</th>
      <th scope="col">MODIFICAR</th>
      <th scope="col">ELIMINAR</th>

    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let manager of allManagers">
      <td>{{manager.managerName}}</td>
      <td>{{manager.managerStatus}}</td>
      <td><button type="button" class="btn btn-outline-primary" (click)="selectInf(2,manager.managerName, manager.managerStatus)">MODIFICAR</button></td>
      <td><button type="button" class="btn btn-outline-danger" (click)="selectInf(3,manager.managerName, manager.managerStatus)">ELIMINAR</button></td>

    </tr>
    </tbody>
  </table>
</div>
