<div class="container">
    <nav class="navbar-center navbar-expand-md navbar-light bg-light" role="navigation" >
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="btn nav-link active" (click)="setOption(1)">AGREGAR NUEVA CATEGORIA</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<hr class="mb-4">
<div *ngIf="optionCategory == 1">
  <h2>AGREGAR CATEGORIA</h2>
  <hr class="mb-4">
  <form [formGroup] ="categoryForm" (ngSubmit)="addCategory()">
      <div class="form-group">
        <div class="form-group">
            <label for="newCategory">NOMBRE DE LA CATEGORIA:</label>
            <input type="text" class="form-control" [ngClass]="{'border border-danger': categoryForm.controls.categoryName.invalid && !categoryForm.controls.categoryName.pristine,
            'form-control': true}" id="newCategory" placeholder="nombre de categoria" formControlName="categoryName">
        </div>
        <hr class="mb-4">
        <div class="d-grid gap-2">
            <button type="submit"  [disabled]="categoryForm.invalid"  class="btn btn-outline-dark btn-lg">AGREGAR CATEGORIA</button>
        </div>
      </div>
  </form>
</div>
<div *ngIf="optionCategory == 2">
  <h2>MODIFICAR CATEGORIA</h2>
  <hr class="mb-4">
  <div >
    <div>
      <label for="updateCategoryOldName">NOMBRE DE LA CATEGORIA:</label>
      <input type="text" class="form-control" id="updateCategoryOldName" readonly placeholder="nombre de categoria" [value]="categoryName">
    </div>
  </div>
  <form [formGroup]="upForm" (ngSubmit)="updateCategory()">
    <div>
      <div class="form-group">
        <label for="updateCategory">NUEVO NOMBRE DE LA CATEGORIA:</label>
        <input type="text" class="form-control" [ngClass]="{'border border-danger': categoryForm.controls.categoryName.invalid && !categoryForm.controls.categoryName.pristine,
            'form-control': true}" id="updateCategory" placeholder="nombre de categoria" formControlName="categoryName">
      </div>
      <hr class="mb-4">
      <div class="d-grid gap-2">
          <button type="submit" [disabled]="upForm.invalid"  class="btn btn-outline-dark btn-lg">MODIFICAR CATEGORIA</button>
      </div>
    </div>
  </form>
</div>
<div *ngIf="optionCategory == 3">
  <h2>ELIMINAR CATEGORIA</h2>
  <hr class="mb-4">

  <div>
    <div>
      <label for="deleteCategory">NOMBRE DE LA CATEGORIA:</label>
      <input type="text" class="form-control" readonly id="deleteCategory" placeholder="nombre de categoria" [value]="categoryName">
    </div>
      <hr class="mb-4">
      <div class="d-grid gap-2">
          <button type="submit" (click)="deleteCategory()" class="btn btn-outline-dark btn-lg">ELIMINAR CATEGORIA</button>
      </div>
  </div>
</div>
<br>
<hr class="mb-4">

<div class="container col-lg-12 table-style">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">NOMBRE</th>
      <th scope="col">ACTUALIZAR</th>
      <th scope="col">ELIMINAR</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let category of categoryList">
      <td>{{category.categoryName}}</td>
      <td><button type="button" class="btn btn-outline-primary" (click)="selectInf(2, category.categoryName)">ACTUALIZAR</button></td>
      <td><button type="button" class="btn btn-outline-danger" (click)="selectInf(3, category.categoryName)">ELIMINAR</button></td>
    </tr>
    </tbody>
  </table>
</div>
<br>
<br>





