<header class="text-center">
    <div class="container">
      <h1><strong>PERFIL DE USUARIO</strong></h1>
      <h5>{{editorName}}</h5>
    </div>
</header>
<div class="container">
  <nav class="navbar-center navbar-expand-md navbar-light bg-light" role="navigation" >
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="btn nav-link active" (click)="setOption(1)">VER MI INFORMACIÓN</a>
          </li>
          <li class="nav-item">
            <a class="btn nav-link active" (click)="setOption(2)">VER MIS ETIQUETAS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<br>
<br>
<div *ngIf="optionNav ==1">
  <div>
    <div class="text-center">
      <img *ngIf="image"  class="img-fluid image-format" src="{{image}}" alt="tu foto"/>
      <br><br>
      <input class="form-control" (change)="fileUploadInAngular($event)" type="file" accept="image/*">
      <br>

    </div>
    <div class="d-grid gap-2">
      <button class="btn btn-outline-dark btn-lg" (click)="updateImage()">CAMBIAR IMAGEN</button>
    </div>
  </div>
  <form [formGroup]="formGroup" (submit)="updateProfile()">
    <div class="text-left">
      <div>
        <br>
        <hr class="mb-3">
        <br>
        <br>
        <div class="col-lg-6 ">
          <label for="userDescription">TUS DESCRIPCION</label><br>
          <textarea id="userDescription" rows="4" cols="45" maxlength="300" [value]="description" formControlName="userDescription"></textarea>
        </div>
        <br>
        <br>
        <div class="col-lg-6 ">
          <label for="userHobby">TUS PASATIEMPOS</label><br>
          <textarea id="userHobby" rows="4" cols="45" maxlength="300" [value]="hobbies" formControlName="userHobbies"></textarea>
        </div>
        <br>
        <br>
        <div class="col-lg-6">
          <label for="userLikes">TUS GUSTOS</label><br>
          <textarea id="userLikes" rows="4" cols="50" maxlength="300" [value]="likes" formControlName="userLikes"></textarea>
        </div>
      </div>
      <br>
      <hr class="mb-4">
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-outline-dark btn-lg">MODIFICAR INFORMACIÓN</button>
      </div>
      <br>
      <br>
    </div>
  </form>
</div>
<div *ngIf="optionNav==2">
  <h2>AGREGAR ETIQUETA</h2>
  <hr class="mb-4">
  <div>
    <form [formGroup]="tagForm" (submit)="addTag()">
      <label for="editorTag">SELECCIONE UNA ETIQUETA:</label>
      <select id="editorTag" class="form-control" formControlName="tag">
        <option [value]=null>seleccione una etiqueta</option>
        <option *ngFor="let tag of tags">{{tag.tagName}}</option>
      </select>
      <hr class="mb-4">
      <div class="d-grid gap-2">
        <button type="submit" [disabled]="tagForm.invalid" class="btn btn-outline-dark btn-lg">AGREGAR ETIQUETA</button>
      </div>
    </form>
  </div>
  <div class="table-style">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">NOMBRE</th>
        <th scope="col">ELIMINAR</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let tag of editorTags">
        <td>{{tag.tagName}}</td>
        <td><button type="button" class="btn btn-outline-danger" (click)="deleteTag(tag.tagName)">ELIMINAR</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

