<header class="text-center">
    <div class="container">
        <h1><strong>PERFIL DE USUARIO</strong></h1>
    </div>
</header>
<br>
<br>
<form>
    <div class="text-right">
        <div class="text-center">
            <img class="img-fluid" src="https://picsum.photos/id/237/200/200" />
            <br><br>
            <input type="file" accept="image/*">
        </div>
    </div>
    <div class="text-left">
        <div>
            <br>
            <hr class="mb-3">
            <div class="col-lg-6 ">
                <label for="userNameProfile">NOMBRE DE USUARIO</label>
                <br>
                <input type="text" id="userNameProfile">
            </div>
            <br>
            <br>
            <div class="col-lg-6 ">
                <label for="userDescription">TUS DESCRIPCION</label>
                <textarea id="userDescription" rows="4" cols="45" maxlength="300">
    
                </textarea>
            </div>
            <br>
            <br>
            <div class="col-lg-6 ">
                <label for="userHobby">TUS PASATIEMPOS</label>
                <textarea id="userHobby" rows="4" cols="45" maxlength="300">
    
                </textarea>
            </div>
            <br>
            <br>
            <div class="col-lg-6">
                <label for="userLikes">TUS GUSTOS</label>
                <textarea id="userLikes" rows="4" cols="50" maxlength="300"></textarea>
            </div>
        </div>
        <br>
        <hr class="mb-4">
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-outline-dark btn-lg">MODIFICAR INFORMACIÓN</button>
        </div>
        <br>
        <br>
    </div>
</form>