.ng2-pdf-viewer-container {
  position: absolute;
  width: 650px !important;
  height: 800px !important;
  left: 1000px;

}

.subscription-pdf-viewer {
  width: 650px !important;
  height: 800px !important;
  position: absolute;
  left: 1000px;
}

.comment-stack {
  width: 500px !important;
  height: 300px !important;
  position: relative;
  right: 10px;
}

.input-size {
  width: 650px !important;
}

.table-style{
  overflow: scroll;
  height: 500px;
}

.image-format{
  width:500px;
}
