<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="btn nav-link active" (click)="setOption(1)">MI PERFIL</a>
                </li>
                <li class="nav-item">
                    <a class="btn nav-link active" (click)="setOption(2)">BUSCAR REVISTA</a>
                </li>
                <li class="nav-item">
                    <a class="btn nav-link active" (click)="setOption(3)">MIS REVISTAS</a>
                </li>
              <li class="nav-item">
                <a class="btn nav-link active" (click)="setOption(4)">MIS SUSCRIPCIONES</a>
              </li>
                <li class="nav-item">
                    <a class="btn nav-link active" (click)="setOption(5)">REPORTES</a>
                </li>
                <li class="nav-item">
                    <a class="btn nav-link active" (click)="close()">CERRAR SESIÓN</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

